# OS files
.DS_Store

# PyCharm files
.idea

# VS Code files
.vscode/

# Python cache files
__pycache__

# Python virtual env
.venv

# Project derivatives
junk/
log.log
config.ini

# Other junk
pull-to-pc.sh
